<footer
  class="footer-moderno py-4 bg-dark text-white border-top border-secondary border-opacity-25 mt-auto"
>
  <div class="footer-bottom">
    <div class="integrantes">
      <div class="student-pill">
        <i class="bi bi-person-circle text-primary"></i>
        Churquina Facundo Francisco
        <span class="lu-badge">LU: 5982</span>
      </div>

      <div class="student-pill">
        <i class="bi bi-person-circle text-primary"></i>
        Duarte Nicolas Hernan
        <span class="lu-badge">LU: 6206</span>
      </div>

      <div class="student-pill">
        <i class="bi bi-person-circle text-primary"></i>
        Mamani Erick Rolando
        <span class="lu-badge">LU: 6027</span>
      </div>
    </div>

    <small class="footer-copy"> ✨ TP Angular © 2026 ✨ </small>
  </div>
</footer>
