
<div class="slide-container">
    
    <div class="card fachera-card">
        
        <img [src]="eventos[indice].img" class="card-image" alt="Imagen del evento">
        
        <div class="card-content">
            <h3 class="event-title">{{ eventos[indice].nombre }}</h3>
            
            <p class="event-desc text-muted">{{ eventos[indice].descripcion }}</p>

            <div class="controls">
                
                <button (click)="anterior()" class="btn-control anterior" title="Anterior">
                    ‹ </button>
                
                <span class="counter">
                    {{ indice + 1 }} / {{ eventos.length }}
                </span>

                <button (click)="siguiente()" class="btn-control siguiente" title="Siguiente">
                    › </button>
            </div>
        </div>

    </div>

</div>
